<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Wiki Title Summary Translation</title>
</head>
{% load crispy_forms_tags %}

<body>
  <form id="project_form" method="POST" action="{% url 'wikiTranslate:sentenceSplit' %}">
    {% csrf_token %}
    <div class="form-group">
      {{ form|crispy }}
      <!-- <label for="formGroupExampleInput">Example label</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input"> -->
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</body>
</html>
<!-- <script type="text/javascript">
  $(document).ready(function(){
    $('#form').off('submit').submit(function (e) {

    });
  });
</script> -->